<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        // Add a request interceptor
        axios.interceptors.request.use(function (config) {
            console.log('请求发出前，执行的代码');
            const token = localStorage.getItem("token")
            config.headers.Authorization = `Bearer ${token}`
            // Do something before request is sent
            return config;
        }, function (error) {
            // Do something with request error
            return Promise.reject(error);
        });

        // Add a response interceptor
        axios.interceptors.response.use(function (response) {
            console.log('响应收到后，执行的代码');
            const { authorization } = response.headers
            authorization && localStorage.setItem('token', authorization)
            // Any status code that lie within the range of 2xx cause this function to trigger
            // Do something with response data
            return response;
        }, function (error) {
            // Any status codes that falls outside the range of 2xx cause this function to trigger
            // Do something with response error
            const { status } = error.response
            if (status === 401) {
                localStorage.removeItem("token")
                window.location.href = "/login"
            }
            return Promise.reject(error);
        });
    </script>
</head>

<body>
<h1>后台系统-用户管理业务</h1>
<p>Welcome to <%= title %>
    <button id="exit">退出登录</button>
</p>

<div>




    <table border="1">
        <thead>
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>年龄</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

<script>

    var exit = document.querySelector('#exit');

    //获取列表
    axios.get('/home/list').then(res => {

        var tbody = document.querySelector("tbody")
        tbody.innerHTML = res.data.map(item => `
          <tr>
            <td>${item._id}</td>
            <td>${item.username}</td>
            <td>${item.age}</td>
          </tr>
        `).join("")
    })

    exit.onclick = () => {
        localStorage.removeItem("token")
        location.href = "/login"
    }

</script>

</body>

</html>
