<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>MongoDB的使用——增删改查的演示</h1>
  <p>Welcome to <%= title %>
  </p>

  <div>

    <div>用户名：<input type="text" placeholder="请输入姓名" id="username" /></div>

    <div>密码：<input type="password" placeholder="请输入密码" id="password" /></div>
    <div>年龄：<input type="number" placeholder="请输入年龄" id="age" /></div>

    <div><button id="register">添加</button></div>
    <div>
      <button id="update">更新</button>
      <button id="delete">删除</button>
    </div>

    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>用户名</td>
          <td>年龄</td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

  <script>
    var register = document.querySelector('#register');
    var update = document.querySelector("#update")
    var deletebutton = document.querySelector("#delete")
    var username = document.querySelector('#username');
    var password = document.querySelector('#password');
    var age = document.querySelector('#age');
    var table = document.querySelector('table');

    register.onclick = () => {
      console.log(username.value, password.value, age.value);
      fetch('/api/user', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          username: username.value,
          password: password.value,
          age: age.value
        })
      }).then(res => res.json()).then(res => {
        console.log(res);
      })
    }

    update.onclick = () => {
      var lastRow = table.rows[table.rows.length - 1];
      var lastId = lastRow.cells[0].innerText;
      fetch("/api/user/" + lastId, {
        method: "PUT",
        body: JSON.stringify({
          username: "修改的名字",
          password: "修改的密码",
          age: 1
        }),
        headers: {
          "Content-Type": "application/json"
        }
      }).then(res => res.json()).then(res => {
        console.log(res)
      })
    }

    deletebutton.onclick = () => {
      var lastRow = table.rows[table.rows.length - 1];
      var lastId = lastRow.cells[0].innerText;
      fetch("/api/user/" + lastId, { method: "DELETE", }).then(res => res.json()).then(res => {
        console.log(res)
      })
    }


    //获取列表

    fetch("/api/user/list?page=1&limit=10", { method: "GET" }).then(res => res.json()).then(res => {
      console.log(res)
      var tbody = document.querySelector("tbody")
      tbody.innerHTML = res.map(item => `
          <tr>
            <td>${item._id}</td>  
            <td>${item.username}</td>  
            <td>${item.age}</td>  
          </tr>
        `).join("")
    })
  </script>

</body>

</html>